#container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #333333;
  font-family: Roboto;
}

#statusText {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-size: 38px;
  width: 200px;
  overflow-x: visible;
  cursor: default;
  padding: 12px 0;
  -webkit-user-select: none;
}

#DrawWindow{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -156px;
  margin-top: -190px;
}

#historylbl{
  color: #fff;
}

#timer{
  position: absolute;
  left: 25%;
  top: 50%;
  font-size: 60px;
  color: #fff;
  margin-top: -30px;

}

#Durationlabel{  
  color: #fff;
  position: relative;
  margin-left: 40px;
}

#xycoord{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: 155px;
}
